In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('C:/Users/Jillian/Desktop/Thinkful Data Files/toy_dataset.csv')

In [7]:
df.head()

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

In [9]:
df.dtypes

Number       int64
City        object
Gender      object
Age          int64
Income     float64
Illness     object
dtype: object

In [10]:
df.drop(columns=['Number'],inplace=True)

In [12]:
df = pd.get_dummies(df, columns=['City','Gender'])

In [14]:
df['Illness'].replace({'No':0,'Yes':1}, inplace=True)

In [17]:
df.isnull().sum()

Age                     0
Income                  0
Illness                 0
City_Austin             0
City_Boston             0
City_Dallas             0
City_Los Angeles        0
City_Mountain View      0
City_New York City      0
City_San Diego          0
City_Washington D.C.    0
Gender_Female           0
Gender_Male             0
dtype: int64

In [27]:
df['Illness'].value_counts()

0    137861
1     12139
Name: Illness, dtype: int64

In [28]:
from sklearn.utils import resample
well = df.loc[df['Illness'] == 0]
ill = df.loc[df['Illness'] == 1]
well = resample(well, replace=False, n_samples=12139, random_state=123)

df2 = pd.concat([well, ill])

In [30]:
df2['Illness'].value_counts()

1    12139
0    12139
Name: Illness, dtype: int64

In [31]:
X = df2.drop(columns=['Illness'])
y = df2.Illness

In [38]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes=(5000,10))
mlp.fit(X, y)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5000, 10), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [39]:
mlp.score(X, y)

0.500041189554329

In [43]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(n_estimators=100,max_depth=2)
rfc.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [44]:
rfc.score(X, y)

0.5159403575253316

In [45]:
from sklearn.ensemble import GradientBoostingClassifier

gbc = GradientBoostingClassifier(n_estimators=100)
gbc.fit(X, y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [46]:
gbc.score(X, y)

0.5507043413790262